@model IEnumerable<Đồ_án_web_quản_lí_phòng_trọ.Models.PhieuThuTien>
@{
    ViewBag.Title = "ChuaThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewBag.Title</title>
</head>
<link href="~/Content/CSS/quanly.css?v=1" rel="stylesheet" />
<body>
    <h2>Chưa Thanh Toán</h2>

  
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienDien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienNuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienMang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuThueTraPhong.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuanLy.TenQuanLy)
        </th>
        <th>
            @Html.DisplayName("Tổng doanh thu")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td data-tongtien="@item.TongTien" data-trangthai="@item.TrangThai">
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienNuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienMang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuThueTraPhong.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanLy.TenQuanLy)
            </td>
            <td>
                <a href="~/PhieuThuTien/Edit/@item.MaPhieuThuTien" id="button-edit" style="text-decoration:none"> Sửa</a>
                <a href="~/PhieuThuTien/Details/@item.MaPhieuThuTien" id="button-details" style="text-decoration:none"> Chi tiết</a>
                <a href="~/PhieuThuTien/Delete/@item.MaPhieuThuTien" id="button-delete" style="text-decoration:none"> Xóa</a>
            </td>
        </tr>
    }
</body>