@model Đồ_án_web_quản_lí_phòng_trọ.Models.PhongTro
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/scrip2.js?v=1" type="text/javascript"></script>
<style>
    .phong-details {
        float: right;
        margin-left: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 250px;
        position: absolute;
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #preview-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #des-trangthai {
        padding: 5px;
        margin-left: 10px;
    }
</style>
<div class="phong-details" style="background-color: #D9D9D9">
    <div id="card-view">
        @if (!string.IsNullOrEmpty(Model.Hinh))
        {
            <img src="@Url.Content(Model.Hinh)" alt="Hình ảnh phòng" width="200" height="150" id="preview-image" />
        }
        else
        {
            <span>Không có hình ảnh</span>
        }
        <br />
        <strong>Mã phòng:</strong> @Html.DisplayFor(model => model.MaPhong)<br />
        <strong>Giá thuê:</strong> @Html.DisplayFor(model => model.GiaThue) <span>VND</span><br />
        <strong>Diện tích:</strong> @Html.DisplayFor(model => model.DienTich)<span>m2</span><br />
        <strong>Vật chất:</strong> @Html.DisplayFor(model => model.VatChat)<br />
        <p><strong>Trạng thái:</strong><span data-status="@Model.TrangThai" id="des-trangthai" style="border-radius:10px;">@Html.DisplayFor(model => model.TrangThai)</span></p>



    </div>
</div>



<script>
    $(document).ready(function () {
        // Find all elements with the class "phong-details" and loop through them
        $('.phong-details').each(function () {
            // Get the value of the data-status attribute
            var status = $(this).find('span[data-status]').attr('data-status');

            // Check the status value and change the background color accordingly
            if (status === 'Trống') {
                $(this).find('span[data-status]').css('background-color', '#55C2FF');
            } else if (status === 'Đã thuê') {
                $(this).find('span[data-status]').css('background-color', 'red');
            } else if (status === 'Bảo trì') {
                $(this).find('span[data-status]').css('background-color', 'yellow');
            }
        });
    });
</script>