@model Đồ_án_web_quản_lí_phòng_trọ.Models.QuanLy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuanLy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaQuanLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuanLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenQuanLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuanLy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
