@model IEnumerable<Đồ_án_web_quản_lí_phòng_trọ.Models.PhongTro>
@{
    ViewBag.Title = "Tìm kiếm phòng trọ theo giá";
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
}
<script src="~/Scripts/scrip2.js" type="text/javascript"></script>

<style>
    .description-info {
        border-radius: 14px;
        padding: 5px;
    }

    .card-pro {
        border: 0px solid black;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .buy-button {
    }

    #des-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button-detail {
        background-color: grey;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 5px 5px;
        border-radius: 12px;
    }

        .button-detail:hover {
            color: white;
        }

    #des-trangthai {
        padding: 5px;
        margin-left: 10px;
    }
    // Search input CSS
    .form-control{
        width: 1px;
        
    }
        .no-spinners::-webkit-inner-spin-button, .no-spinners::-webkit-outer-spin-button

    {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinners {
        -moz-appearance: textfield;
    }

    
</style>

<h2 style="text-align: center;">TÌM KIẾM PHÒNG TRỌ THEO GIÁ</h2>
<div style="text-align: center;">

    @using (Html.BeginForm("SearchOption", "PhongTro", FormMethod.Get, new { @class = "search-form", @style = "display:flex;gap: 20px;  align-items: end;padding:10px" }))
    {
        <label for="min">Giá thuê từ:</label>
        <input class="form-control no-spinners" type="number" name="min" id="" min="0"  placeholder="Giá" style="width:120px;">
        <label for="max">đến:</label>
        <input class="form-control  no-spinners" type="number" name="max" id="" min="0"  placeholder="Giá" style="width:120px;">

        <label for="minArea">Diện tích từ:</label>
        <input class="form-control  no-spinners" type="number" name="minArea" id="" min="0"  placeholder="Diện tích" style="width:120px;">
        <label for="maxArea">đến:</label>
        <input class="form-control no-spinners" type="number" name="maxArea" id="" min="0" placeholder="Diện tích" style="width:120px;">

        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>

    }
</div>
<div class="container">
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro" onclick="location.href='Details1/@pro.MaPhong'" style="cursor:pointer">
                    <img id="des-image" src="@Url.Content(pro.Hinh)" height="150" width="200" />
                    <br />
                    <div class="description-info">
                        <p style="color:#5D5656">@Html.DisplayFor(Model => pro.VatChat)</p>
                        <p><img style="width:25px; height:25px;" src="~/images/iconarea.png" /><span>@Html.DisplayFor(Model => pro.DienTich)</span><span>m2</span></p>
                        <p>Giá thuê: <span style="font-size:14px; color:gray">@Html.DisplayFor(Model => pro.GiaThue) <span>VND</span> </span> </p>

                        <p>Trạng thái:<span data-status="@pro.TrangThai" id="des-trangthai" style="border-radius:10px;">@Html.DisplayFor(model => pro.TrangThai)</span></p>
                        <br />
                        <a href="~/PhongTro/Details1/@pro.MaPhong" class="button-detail" style="text-decoration:none"> Chi tiết</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>