@model Đồ_án_web_quản_lí_phòng_trọ.Models.DangKyViewModel

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/Login.cshtml";
}
<link href="~/Content/CSS/DangNhap.css" rel="stylesheet" />
<h2>Đăng ký tài khoản mới</h2>

@using (Html.BeginForm("RegisterUser", "DangNhap", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="shape-login">
        <table>
            <tr>
                <th colspan="2"><img src="~/images/login.png" / class="img-logo"></th>
            </tr>
            <tr style="padding-top:10px">
                <th>Tên Đăng Nhập</th>
                <th>
                    @Html.TextBoxFor(model => model.TaiKhoan.UserName, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.TaiKhoan.UserName, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Mật khẩu</th>
                <th>
                    @Html.PasswordFor(model => model.TaiKhoan.MatKhau, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.TaiKhoan.MatKhau, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Nhập lại mật khẩu</th>
                <th>
                    @Html.PasswordFor(model => model.TaiKhoan.ConfirmPassword, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.TaiKhoan.ConfirmPassword, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Tên khách hàng</th>
                <th>
                    @Html.TextBoxFor(model => model.KhachHang.TenKhachHang, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.KhachHang.TenKhachHang, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Căn cước công dân</th>
                <th>
                    @Html.TextBoxFor(model => model.KhachHang.CCCD, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.KhachHang.CCCD, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Địa chỉ</th>
                <th>
                    @Html.TextBoxFor(model => model.KhachHang.DiaChi, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.KhachHang.DiaChi, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                <th>Số điện thoại</th>
                <th>
                    @Html.TextBoxFor(model => model.KhachHang.SDT, new { @class = "input" })
                    @Html.ValidationMessageFor(model => model.KhachHang.SDT, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr style="padding-top: 10px">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorInfo))
                {
                    <th colspan="2" class="alert" role="alert">
                        @ViewBag.ErrorInfo
                    </th>
                }
            </tr>
            <tr style="padding-top:10px">
                <th style="text-align: center; padding-left:50px;"><button type="submit" class="btn-login">Đăng ký</button></th>
                <th style="padding-left:20px"><a <a="" href="/DangNhap/DangNhap" class="btn-register">Trở về</a></th>
            </tr>
        </table>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
