@model Đồ_án_web_quản_lí_phòng_trọ.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Xoá thông tin khách hàng</h2>

<h3 style="text-align:center;">Bạn có chắc muốn xoá thông tin khách hàng này chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTaiKhoan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
